[submodule "readthedocs"]
	path = readthedocs
	url = https://github.com/ProjectNeura/leads-docs.git
[submodule "arduino/leads"]
	path = arduino/leads
	url = https://github.com/ProjectNeura/LEADS-Arduino.git
